<% div_for(work) do %>
  <ul>
    <li><%= link_to work.name, work %></li>
    <li><em>Submitted by: </em><%= work.submitter %></li>
    <li> Number of Results: <b><%=work.results.count%></b></li>
  </ul>
<% end %>
