body { 
 background-color: #666; 
 margin: 15px 25px; 
 font-family: Helvetica, Arial, sans-serif; 
	width:950px;
	margin:auto;
} 
li{
	list-style:none;
}


#content { 
 background-color: #fff; 
 border: 10px solid steelBlue; 
 padding: 10px 10px 20px 10px; 
 overflow: hidden; 
 width:950px;
 border-radius: 14px;
 -moz-border-radius: 14px;
 -webkit-border-radius: 14px;
 height:auto;
} 
* html #content { 
 height: 1%; 
}

#top_title{
	margin: 0;
	text-align: center;
}
#top_title h1 {
    margin-bottom: .1em;
}
#top_title h1 a{
  color:white;

  text-decoration:none;
}
#user_nav {
	float:right;
	font-size:12px;
	padding-bottom:10px;
}
#work_info {
  padding-bottom:10px;
}

#navigation { 
 list-style: none; 
 padding: 5px 0; 
 margin: 0; 
 text-align: center; 
 font-size: large;
 color:white;
}

#navigation li {
 display: inline;
 padding: 0 5px;
 font-size: x-large;
}

#navigation li a {
 color: #fff;
 
 text-decoration:none;
}

#navigation li a:hover {
  text-decoration:underline;
}
#video {
}

.questions {
  border: 3px dotted steelBlue;
  width:45%;
  padding:3px;
  margin:5px;
  
}

.work { 
 float: left; 
 width: 46%; 
 height: 90px;
 margin:5px;
 padding:10px;
 background-color:#EBEFF9;
 border-radius: 14px;
 -moz-border-radius: 14px;
 -webkit-border-radius: 14px;
}

.work_pic {
  float:right;
}
.work_info {
  float:left;
}
 
#flash.notice { 
 border: 5px solid #9c9; 
 background-color: #cfc; 
 padding: 5px; 
 margin: 10px 0;
 display:inline-block;
}

#flash.error { 
 border: 5px solid #FF3F3F; 
 background-color: #FFBFBF; 
 padding: 5px; 
 margin: 10px 0;
 display:inline-block;
}

.fieldWithErrors { 
 border: 5px solid #f66;
}

#survey {
  padding:10px;
}

#survey ul {
	list-style:none;	
}

#survey h3 {
	margin:0px;	
}

#center {
	background-color:lightgrey;
	border: 4px solid darkgrey;
	width: 500px;
	margin: 0 auto;
}

#hor-minimalist-a th {
border-bottom: 2px solid #6678B1;
color: #003399;
text-align: center;
font-weight: normal;
padding: 10px 8px;

}

#hor-minimalist-a {
	margin-bottom: 0.5em;
}

#hor-minimalist-a tbody td {
	color: #666699;
	padding: 9px 8px 0;
	text-align: center;
}

#hor-minimalist-a .odd {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
  background:#E8EDFF none repeat scroll 0 0;
}

#hor-minimalist-a .first {
	border-right: 2px solid #666699;
	background:steelBlue;
	color:white;

}

#hor-minimalist-a tbody {
	background-color: #ffffff;
}