<!-- profile page -->
<% title "User" %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @user.email %>
</p>
<p>
  <strong>Password:</strong>
  <%=h @user.password %>
</p>
